{erl_opts, [debug_info,fail_on_warning]}.
{deps, []}.
{relx,
  [{release,{ex_banking_dev,"0.1.0"},
            [ex_banking]},
    {dev_mode,true},
    %{sys_config,"./config/sys.config.src"},
    {include_src,true}
    % {vm_args,[]}
  ]
}.
{profiles,[
  {prod1,[
    {erl_opts,[no_debug_info,warnings_as_errors]},
    {sys_config_src,"./config/prod1.sys.config.src"},
    {vm_args_src,"./config/vm.args.src"}
  ]},
  {prod2,[
    {erl_opts,[no_debug_info,warnings_as_errors]},
    {sys_config,"./config/prod2.sys.config.src"}
  ]}
]}.
{shell, [
    {config, "./config/dev1.sys.config.src"},
    {vm_args,"./config/vm.args.src"},
    {apps, [ex_banking]}  
]}.
