{erl_opts, [debug_info,fail_on_warning]}.
{deps, []}.
{relx,
  [{release,{ex_banking,"0.1.0"},
            [ex_banking]},
    {dev_mode,false},
    {include_src,true}
  ]
}.
{profiles,[
  {prod,[
    {relx,[{mode,prod},
           {sys_config_src,"./config/prod1.sys.config.src"},
           {vm_args,"./config/vm.args.src"}]}
  ]},
  {prod2,[
    {relx,[{mode,prod},
           {sys_config_src,"./config/prod2.sys.config.src"},
           {vm_args,"./config/vm.args.src"}]}
  ]},
  {prod3,[
    {relx,[{mode,prod},
           {sys_config_src,"./config/prod3.sys.config.src"},
           {vm_args,"./config/vm.args.src"}]}
  ]}
]}.
{shell, [
    {sys_config_src, "./config/dev1.sys.config.src"},
    {vm_args,"./config/vm.args.src"},
    {apps, [ex_banking]}  
]}.
