{erl_opts, [debug_info,fail_on_warning]}.
{deps, []}.
{relx,
  [{release,{ex_banking_dev,"0.1.0"},
            [ex_banking]},
    {dev_mode,true},
    % {sys_config,"./config/sys.config.src"},
    {include_src,false}
    % {vm_args,[]}
  ]
}.
{profiles,[
  {dev1,[
    {erl_opts,[debug_info]}
  ]},
  {dev2,[
    {erl_opts,[debug_info]}
  ]},
  {test,[
    {erl_opts,[debug_info]},
    {sys_config,"./config/test.sys.config.src"}
  ]},
  {prod1,[
    {erl_opts,[no_debug_info,warnings_as_errors]},
    {sys_config,"./config/prod1.sys.config.src"}
  ]},
  {prod2,[
    {erl_opts,[no_debug_info,warnings_as_errors]},
    {sys_config,"./config/prod2.sys.config.src"}
  ]}
]}.
{shell, [
    {config, "./config/dev1.sys.config.src"},
    {apps, [ex_banking]}  
]}.
{profiles,[
  {debug,[
      {erl_opts,[debug_info]},
      {config,"./dev_sys.config"}]},
  {release,[
    {erl_opts,[debug_info]},
    {config,"./sys.config"}
  ]}
]}.
